.exercise-form input{
    border-color: #dc3545;
}

.text-area {
    border-color: #dc3545;
}

.exercise-form {
    color: #dc3545;
}

@media only screen and (min-width: 576px) {
    .form-control {
        margin-left: 1rem !important;
    }
}

.submit-btn {
    margin-top: 1.5rem;
    margin-right: -1rem !important;
}

.submit-btn:hover {
    background-color: #bd2130 !important;
}

.radio-button {
    margin-left: 6.25rem !important;
}

.alert {
    width: 100%;
}

@media only screen and (max-width: 1199px) {
    .radio-button {
        margin-left: 5.25rem !important;
    }
}

@media only screen and (max-width: 991px) {
    .radio-button {
        margin-left: 3.25rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .back-to-workout-btn {
        float: left !important;
        margin-bottom: 20px;
    }

    .radio-button {
        margin-left: 4rem !important;
    }
}

@media only screen and (max-width: 575px) {
    .alert {
        margin-left: 0 !important;
    }

    .submit-btn {
        margin-right: 0.125rem !important;
    }

    .radio-button {
        margin-left: 1.5rem !important;
    }
}

.card-body {
    margin-right: 10px !important;
}

.submit-btn {
    border: none;
}