body {
    background-color: #121212;
}

.modal-content {
    background-color: #121212;
}

input {
    background-color: #121212 !important;
    color: white !important;
    border-color: gray !important;
}

textarea {
    background-color: #121212 !important; 
    color: white !important;
    border-color: gray !important;
}

.list-group-item {
    background-color: #dc3545;
}

select {
    background-color: #121212 !important;
    border-color: gray !important;
}

option {
    color: white;
}

.modal .close {
    text-shadow: 0 1px 0 #121212;
}

.card-body {
    background-color: #1a1a1b !important;
}

.card {
    border: 1px solid rgba(200,53,69,.25) !important;
}

.card {
    background-color: #1a1a1b !important;
}



