.help-box {
    border: 1px solid #dc3545;
    border-radius: 5px;
}

.help-text {
    padding: 10px;
    color: #dc3545;
}

.plan-form input{
    border-color: #dc3545;
}

.text-area {
    border-color: #dc3545;
}

.plan-form {
    color: #dc3545;
}

.submit-btn:hover {
    background-color: #bd2130 !important;
}

.radio-first-button {
    margin-left: 3rem!important;
}

@media only screen and (max-width: 1199px) {
    .radio-first-button {
        margin-left: 2rem!important;
    }
}

@media only screen and (max-width: 991px) {
    .radio-first-button {
        margin-left: 1rem!important;
    }
}

.alert {
    width: 100%;
}