.home-page-heading {
    margin-top: 90px;
    font-size: 60px;
    white-space: nowrap;
}

.home-page-info {
    font-size: 30px;
    text-align: justify;
}

.home-page-second-heading {
    margin-top: 50px;
    font-size: 40px;
    white-space: nowrap;
    font-weight: bold;
}

.list-group-item {
    border-color: none;
    background-color: #dc3545;
    color: white !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    border-radius: 0.25rem;
}

.list-group-item:hover {
    border-color: none;
    background-color: #932530;
    color: white !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    border-radius: 0.25rem;
}

@media only screen and (max-width: 600px) {
    .home-page-heading {
        font-size: 40px;
        white-space: nowrap;
    }

    .home-page-second-heading {
        white-space: nowrap;
    }
    
}

@media only screen and (max-width: 400px) {
    .home-page-heading {
        font-size: 30px;
        white-space: normal;
    }

    .home-page-second-heading {
        font-size: 30px;
        white-space: normal;
    }
    
}

.list-group {
    align-items: center;
}

.list-group-item {
    width: 80%;
}

.modal-header {
    border: none;
    justify-content: center;
    padding-bottom: 0 !important;
}

.btn-group {
    width: 100% !important;
}

.btn-group .btn-default-plan {
    width: 50%;
    margin-right: 0.25rem;
    text-align: center;
    height: 50px;
}

.btn-group .btn-personalized-plan {
    width: 50%;
    text-align: center;
    height: 50px;
}
