.submit-button {
    border: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #dc3545 !important;
}

.custom-checkbox
    .custom-control-input:checked:focus
    ~ .custom-control-label::before {
    box-shadow: none;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #dc3545;
}

.custom-control-label {
    white-space: nowrap;
}

.custom-control-label::before {
    border: 1px solid red;
    background-color: transparent;
}