hr {
    width:50%;
    text-align:left;
    margin-left:0;
    border-top: 1px solid rgba(2200,53,69,.1) !important;
}

a {
    color: #dc3545;
}
a:hover {
    color: #dc3545;
}
a:visited {
    color: #dc3545;
}

.settings-header {
    margin-top: 10%;
}

section {
    margin-top: 5%;
}

.settings-info {
    color: #dc3545;
}

#deleteAccountModalCenter .warning-text {
    font-weight: bold;
    color: #dc3545;
}

.modal-footer .btn-secondary:hover {
    background-color: #474d52 !important;
    border-color: #474d52 !important;
}

.delete-account-link{
    color: #dc3545 !important;
}

.delete-account-link:hover {
    cursor: pointer;
    text-decoration: underline !important;
    color: #dc3545;
}

.form-radio-row {
    padding-left: 0px !important;
}